<div class="container">
    <div class="title">
        <div class="text">
            <h1>Caulculadora</h1>
        </div>
    </div>
    <div class="app">
        <div class="app-div1">
            <div class="app-div2">
                <nav></nav>
                <div class="painel">
                    <div class="painel-div1"></div>
                </div>
                <div class="div-columns-and-lines">
                    <input type="button" name="mc" value="MC" />
                    <input type="button" name="mr" value="MR" />
                    <input type="button" name="ms" value="MS" />
                    <input type="button" name="m+" value="M+" />
                    <input type="button" name="m-" value="M-" />
                    <input type="button" name="limpa" value="Clear" />
                    <input type="button" name="ce" value="CE" />
                    <input type="button" name="c" value="C" />
                    <input type="button" name="maisoumenos" value="+-" />
                    <input type="button" name="raiz" value="√" />
                    <input type="button" name="sete" value="7" />
                    <input type="button" name="oito" value="8" />
                    <input type="button" name="nove" value="9" />
                    <input type="button" name="barra" value="/" />
                    <input type="button" name="porcentagem" value="%" />
                    <input type="button" name="quatro" value="4" />
                    <input type="button" name="cinco" value="5" />
                    <input type="button" name="meia" value="6" />
                    <input type="button" name="asterisco" value="*" />
                    <input type="button" name="umbarrax" value="1/x" />
                    <input type="button" name="um" value="1" />
                    <input type="button" name="dois" value="2" />
                    <input type="button" name="treis" value="3" />
                    <input type="button" name="menos" value="-" />
                    <input class="heigth-button-equal" type="button" name="igual" value="=" />
                    <input class="width-button-zero" type="button" name="zero" value="0" />
                    <input type="button" name="virgula" value="," />
                    <input type="button" name="mais" value="+" />
                </div>
            </div>
        </div>
    </div>
</div>