<div class="container">
    <div class="title">
        <div class="text"><h1>Caulculadora</h1></div>
    </div>
    <div class="app">
        <div class="app-div1">
            <div class="app-div2">
                <nav></nav>
            <div class="painel">
                <div class="painel-div1"></div>
            </div>
                <div class="div-columns-and-lines">
                    <div class="lines-column1">
                        <input type="button" name="mc" value="MC"/>
                        <input type="button" name="limpa" value="clear" />
                        <input type="button" name="sete" value="7" />                        
                        <input type="button" name="quatro" value="4"/>
                    </div>
                    <div class="lines-column1">
                        <input type="button" name="mr" value="MR" />
                        <input type="button" name="ce" value="CE" />
                        <input type="button" name="oito" value="8" />
                        <input type="button" name="cinco" value="5" />
                    </div>
                    <div class="lines-column3">
                        <input type="button" name="ms" value="MS" />
                        <input type="button" name="c"  value="C" />
                        <input type="button" name="nove" value="9" />
                        <input type="button" name="seis" value="6" />
                    </div>
                    <div class="lines-column4">
                        <input type="button" name="m+" value="M+" />
                        <input type="button" name="maisoumenos" value="+-" />
                        <input type="button" name="barra" value="/" />
                        <input type="button" name="asterisco" value="*" />
                    </div>
                    <div class="lines-column5">
                        <input type="button" name="m-" value="M-" />
                        <input type="button" name="raiz" value="√" />
                        <input type="button" name="porcentagem" value="%" />
                        <input type="button" name="umbarrax" value="1/x" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

